.button{
  height: 64;
  border-radius: 35px;
  background-color: white;
  box-sizing: border-box;
  padding: 24px 21px 21px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  border-radius: 100px;
}