.search__title{
  color: white;
  margin-top: 160px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
  width: 608px;
  height: 128px;
  margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
  .search__title{
    margin-top: 104px;
    font-size: 36px;
    line-height: 40px;
    width: 385px;
    height: 80px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 600px) {
  .search__title{
    width: calc(100% - 32px);
    margin-top: 86px;
  }
}