@import url("./__subtitle/intro__subtitle.css");
@import url("./__title/intro__title.css");
@import url("./__text/intro__text.css");

.intro{
  width: 100%;
  min-height: 294px;
  padding: 40px 104px 56px 104px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

@media screen and (max-width: 600px) {
  .intro{
    padding: 40px 16px 56px 16px;
  }
}