.search-results__title{
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1A1B22;
  margin-bottom: 16px;
  margin-top: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  .search-results__title{
  min-width: 170px;
  }
}
@media screen and (max-width: 980px) {
  .search-results__title{
    font-size: 24px;

  }
}

@media screen and (max-width: 940px) {
  .search-results__title{
    font-size: 22px;

  }
}

@media screen and (max-width: 710px) {
  .search-results__title{
    font-size: 18px;
    line-height: 22px;
    min-width: 150px;
  }
}

@media screen and (max-width: 650px) {
  .search-results__title{
    font-size: 16px;
    line-height: 20px;
    min-width: 140px;
  }
}

@media screen and (max-width: 600px) {
  .search-results__title{
    font-size: 22px;
    line-height: 26px;
    min-width: 140px;
  }
}