.menue__item{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* border-bottom: solid white 3px; */
}



.menue__item:hover{
  border-bottom: 3px solid white;

}


/* .menue__item.active {
  border-bottom: 3px solid white;
} */