.search-results__source{
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #B6BCBF;
  margin-bottom: 24px;
  padding-right: 24px;
  padding-left: 24px;
}

@media screen and (max-width: 980px) {
  .search-results__source{
    padding-right: 16px;
    padding-left: 16px;
  }
}