.search-results__flag-pic{
  stroke: #B6BCBF;
  d: path("M6.38218 12.7137L1 16.9425V1L13 1V16.9425L7.61782 12.7137L7 12.2283L6.38218 12.7137Z");
  stroke-width: 2px;
  transition: all 0.35s ease;
}

.search-results__flag-pic_type_loggedin{
  stroke: #1A1B22;
}