.footer__navigation{
  list-style-type: none;
  display: flex;
  max-width: 304px;
  justify-content: space-between;
  box-sizing: border-box;

}

@media screen and (max-width: 600px) {
  .footer__navigation{
    flex-flow: column;
    align-items: flex-start;

  }
}