@import url("./__subtitle/search-results__subtitle.css");
@import url("./__news-grid/search-results__news-grid.css");
@import url("./__news-card/search-results__news-card.css");
@import url("./__news-photo/search-results__news-photo.css");
@import url("./__date/search-results__date.css");
@import url("./__title/search-results__title.css");
@import url("./__subtitle/search-results__subtitle.css");
@import url("./__text/search-results__text.css");
@import url("./__sourse/search-results__source.css");
@import url("./__mark-button/search-results__mark-button.css");
@import url("./__flag/search-results__flag.css");
@import url("./__text-container/search-results__text-container.css");

.search-results{
  width: 100%;
  max-height: 974px;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #F5F6F7;
  padding: 104px 80px 104px 80px;
  box-sizing: border-box;
}