.about-author__grid{
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 56px;
  margin-left: 104px;
  margin-right: 104px;
}

@media screen and (max-width: 768px) {
  .about-author__grid{
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media screen and (max-width: 600px) {
  .about-author__grid{
    display: flex;
    flex-flow: column;
    /* width: 100%; */
    margin-left: 16px;
    margin-right: 16px;


  }
}