@import url("./__copyright/footer__copyright.css");
@import url("./__navigation/footer__navigation.css");
@import url("./__social-icons/footer__social-icons.css");
@import url("./__links/footer__links.css");
@import url("./__icon/footer__icon.css");

.footer{
  width: 100%;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 208px);
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .footer{
    width: calc(100% - 80px);
  }
}

@media screen and (max-width: 600px) {
  .footer{
    width: calc(100% - 48px);
    flex-flow: column-reverse;
    justify-content: center;
    align-items: stretch;
  }
}

@media screen and (max-width: 425px) {
  .footer{
    width: calc(100% - 32px);

  }
}