.popup__content {
  width: 430px;
  /* min-height: 458px; */
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px 28px 36px;
  display: flex;
  flex-flow: column;
}


@media screen and (max-width: 540px) {
  .popup__content {
    width: calc(100% - 60px);
  }
  .popup__content_picture {
    width: calc(100% - 60px);
  }
}

