.link{
  text-decoration: none;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}


/* .link:hover + .menue__item{
  border-bottom: 3px solid white;

} */

/* .link a.active + .menue__item {
  border-bottom: 3px solid white;
} */