.search__subtitle{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: white;
  font-size: 18px;
  line-height: 24px;
  width: 545px;
  height: 48px;
  margin-bottom: 64px;
  }