@import url("./__picture/nothing-found__picture.css");
@import url("./__title/nothing-found__title.css");
@import url("./__text/nothing-found__text.css");

.nothing-found{
  width: 100%;
  max-height: 374px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding-top: 86px;
  padding-bottom: 80px;
  box-sizing: border-box;
  background: #F5F6F7;
}

.nothing-found_disabled{
  display: none;
}