@import url("./__circle-preloader/preloader__circle-preloader.css");
@import url("./__text/preloader__text.css");

.preloader{
  width: 100%;
	min-height: 282px;
  background-color: #F5F6F7;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
	overflow: hidden;
}