.popup__input-title{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #2F71E5;
  margin-bottom: 8px;
  margin-top: 31px;
}

.popup__input-title:first-of-type{
  margin-top: 0;
}

.popup__input-title_type_centered{
  align-self: center;
  color: black;
}