.about-author__picture{
  width: 100%;
  max-width: 464px;
  height: auto;
  border-radius: 1000px;
  /* margin-right: 56px;
  margin-left: 104px; */
  /* object-fit: cover; */
  /* object-fit: fill; */
}
