@import url("./__item/menue__item.css");
@import url("./__item/_type/menue__item_type_disabled.css");
@import url("./__item/_type/menue__item_type_feachered.css");


.menue{
  color: white;
  text-decoration: none;
  list-style-type: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  column-gap: 34px;
}