.button_type_showmore{
  border-radius: 80px;
  width: 288px;
  border: 0;
  margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .button_type_showmore{
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 425px) {
  .button_type_showmore{
    margin-bottom: 32px;
  }
}