.button_type_popup {
  width: 100%;
  background: #E6E8EB;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  margin-bottom: 16px;
  margin-top: 39px;
}

.button_type_popup_is-active {
  color: white;
  background-color: #2F71E5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
}