<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ExploreTheNews</title>
  <link rel="stylesheet" href="vendor/normalize.css">
  <!-- <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.main.css %>"> -->
  <link rel="stylesheet" href="style.css">
</head>
<body class="page">

  <header class="header">
    <p class="logo">NewsExplorer</p>
    <nav class= header__navigation>
      <ul class="menue">
        <li class="menue__item"><a class="link" href="">Главная</a></li>
        <li class="menue__item menue__item_type_disabled"><a class="link" href="">Сохраненные статьи</a></li>
        <li class="menue__item "><div><a class="link menue__item_type_feachered" href="">Авторизоваться</a></div></li>
        <!-- <div class="line"></div>
        <div class="line line_disabled"></div>
        <div class="line line_disabled"></div> -->

        <!-- <li class="menue__item menue__item_disabled"><a class="link" href="">User</a></li> -->
      </ul>
    </nav>
  </header>


  <main class="content">

    <section class="search">
      <div class="search__group">
        <h1 class="search__title">Что в мире творится?</h1>
        <h2 class="search__subtitle">Находите самые свежие статьи на любую тему и сохраняйте в своём личном кабинете.</h2>
        <form class="search__form">
          <input type="text" required name="search" class="search__input" placeholder="Природа">
          <button class="button button_type_search">Искать</button>
        </form>
      </div>
    </section>

    <section class="search-results">
    </section>

    <section class="about-author">
    </section>



  </mail>
  <footer class="footer"></footer>
  <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>
</html>