.tooltip_type_keyword{
  display: block;
  left: 24px;
  top: 24px;
  max-width: 182px;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 12px 8px 12px;
}

@media screen and (max-width: 700px) {
  .tooltip_type_keyword{
    font-size: 10px;
    padding: 8px 5px 8px 5px;
  }
}

@media screen and (max-width: 600px) {
  .tooltip_type_keyword{
    font-size: 14px;
    padding: 8px 12px 8px 12px;
  }
}