@import url("./logo/logo.css");
@import url("./menue/menue.css");
@import url("./__navigation/header__navigation.css");

.header{
  width: 100%;
  height: 80px;
  margin-bottom: -80px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  border: white 1px fine;
  z-index: 1;
  padding-left: 104px;
  padding-right: 104px;
  box-sizing: border-box;
  border-bottom: 1px solid white;
  background: rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}