.search__form{
  width: 608px;
  position: relative;


}

@media screen and (max-width: 768px) {
  .search__form{
    width: 448px;
  }
}

@media screen and (max-width: 600px) {
  .search__form{
    width: calc(100% - 32px);
  }
}